@import "~antd/dist/antd.css"; 


html {
  font-size: 62.5%;
}
.editable-cell {
 position: relative;
}

.editable-cell-value-wrap {
 padding: 5px 12px;
 cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
 border: 1px solid #d9d9d9;
 border-radius: 4px;
 padding: 4px 11px;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
 border: 1px solid #434343;
}

#components-table-demo-drag-sorting tr.drop-over-downward td {
 border-bottom: 2px dashed #1890ff;
}

#components-table-demo-drag-sorting tr.drop-over-upward td {
 border-top: 2px dashed #1890ff;
}

  .ant-card-grid:focus {
    outline-color: #1890ff;
  }

  .heade {
    background-image: linear-gradient(to bottom right, #0060a7, #6087ED);
  }

  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
    color: #0060a7 ;
  }

  .ant-card-head {
    font-size: 1.5rem;
  }
  .ant-card-head-title {
    padding: 1rem;
  }

  /* .ant-col-18 {
    flex:0 0 78%;
    max-width: 78%;
    /*border-left: 1px solid #f0f0f0;*/
   

  svg {
    vertical-align: initial;
  }

  .drag:hover {
    cursor: move;
  }

  .btn-1 {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: #1f608d;
    border: 0;
  }

  .btn-1:hover {
    background-color: #dfe9f5;
    color: #1f608d;
   }

  .btn-1:focus {
    background-color: #dfe9f5;
    color: #1f608d;
  }

  .Resizer {
    background: #000;
    opacity: 0.2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
  }
  
  .Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
  }
  
  
  
  .Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
  }
  
  .Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
  }
  .Resizer.disabled {
    cursor: not-allowed;
  }
  .Resizer.disabled:hover {
    border-color: transparent;
  }
