@import "~antd/dist/antd.css"; 


html {
  font-size: 62.5%;
}
.editable-cell {
 position: relative;
}

.editable-cell-value-wrap {
 padding: 5px 12px;
 cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
 border: 1px solid #d9d9d9;
 border-radius: 4px;
 padding: 4px 11px;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
 border: 1px solid #434343;
}

#components-table-demo-drag-sorting tr.drop-over-downward td {
 border-bottom: 2px dashed #1890ff;
}

#components-table-demo-drag-sorting tr.drop-over-upward td {
 border-top: 2px dashed #1890ff;
}

.grid {
    display: grid;
   /* grid-template-columns: repeat(3, 1fr);*/
   grid-template-columns: 3fr 2fr 2fr;

    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.grid > div {
    padding: 8px 4px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
  }

  .ant-card-grid:focus {
    outline-color: #1890ff;
  }

  